---
name: Codespell

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Prepare directory list
      run: |
        DIRS=$(find . -type d -name 'prerelease' | tr '\n' ' ')
        echo "DIRS_TO_CHECK=$DIRS" >> $GITHUB_ENV
    
    - name: Run codespell
      uses: codespell-project/actions-codespell@v2
      with:
        check_filenames: false
        check_hidden: false
        skip: '*.git,*.pdf,*.svg,venv*,*.tsv,*.json,*.rdf,*.jsonld,*.xml,*.mediawiki,*.omn,.venv,datasets*,_build,_static,*.js,*.inv'
        ignore_words_list: 'te,parms,trough'
        uri_ignore_words_list: '*'
        path: |
          docs/source
          *.md
          ${{ env.DIRS_TO_CHECK }}
