name: Validate schemas

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  validate-schemas:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # OR "2" -> To retrieve the preceding commit.

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v45
      # To compare changes between the current commit and the last pushed remote commit set `since_last_remote_commit: true`. e.g
      # with:
      #   since_last_remote_commit: true

    - name: List all changed files
      env:
        ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
      run: |
        for file in "$ALL_CHANGED_FILES"; do
          echo "$file was changed"
        done

    - name: Install dependencies
      run: pip install git+https://github.com/hed-standard/hed-python.git@main

    - name: Run command on file list
      env:
        ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
      run: |
        hed_validate_schemas $ALL_CHANGED_FILES
